body, h1, form, table, th, td {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin-bottom: 20px;
    color: #2c3e50;
    font-size: 2rem;
    text-align: center;
}

form {
    font-family: 'Poppins', Arial, sans-serif;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 30px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form fieldset {
    border: none;
    margin: 15px;
    padding: 5px;
}

form label {
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="date"],
form input[type="password"],
form input[type="file"] {
    font-family: 'Poppins', Arial, sans-serif;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
    transition: 0.3s ease;
}

form input[type="text"]:focus,
form input[type="date"]:focus,
form input[type="password"]:focus,
form input[type="file"]:focus {
    border-color: #007bff;
    outline: none;
    background: #ffffff;
}

form input[type="submit"] {
    background: rgb(44, 44, 44);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s ease;
}

form input[type="submit"]:hover {
    background: #686868;
}

/* CSS Tabela Dados */
table {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table th,
table td {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

table th {
    background: #2c2c2c;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 0.9rem;
}

table tr:hover {
    background: #f1f1f1;
}

table img {
    display: flex;
    max-width: 50px;
    margin: auto;
    height: auto;
    border-radius: 2%;
}

table p {
    margin: 0;
    color: #555;
    font-size: 0.9rem;
}

table img:hover {
    outline: 3px solid #8c0101; /* Cor do contorno */
    outline-offset: 3px; /* Espaço entre a imagem e o contorno */
    transform: scale(1.1); /* Leve zoom ao passar o mouse */
}
