<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MySecondApp"
        tools:targetApi="35">
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <activity
            android:name=".views.RecyclerView"
            android:exported="false" >
        </activity>
        <activity
            android:name=".views.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/Theme.MySecondApp.Fullscreen">

        </activity>
        <activity
            android:name=".views.SecondPage"
            android:exported="false" />
        <activity
            android:name=".views.FirstPage"
            android:exported="false">
        </activity>
        <activity
            android:name=".views.RelativeLayout"
            android:exported="false">
        </activity>
        <activity
            android:name=".views.Audio"
            android:exported="false" />
        <activity
            android:name=".views.Notes"
            android:exported="false" />
        <activity
            android:name=".views.Constraint"
            android:exported="false" />
        <activity
            android:name=".views.Aluno"
            android:exported="false" />
        <activity
            android:name=".views.ListaAlunos"
            android:exported="false" />
        <activity
            android:name=".views.ListaNomes"
            android:exported="false" />
        <activity
            android:name=".views.Resultado_Form"
            android:exported="false" />
        <activity
            android:name=".views.Info_Form"
            android:exported="false" />
        <activity
            android:name=".views.Alterar_Nome"
            android:exported="false" />
        <activity
            android:name=".views.Hello_User"
            android:exported="false" />
        <activity
            android:name=".views.MainActivityHoras"
            android:exported="false" />
        <activity
            android:name=".views.MainActivity"
            android:exported="false" />
        <activity
            android:name=".views.MainActivity2"
            android:exported="false" />
        <activity
            android:name=".views.SplashScreen"
            android:exported="true" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".views.LoginErradoActivity"
            android:exported="false" />
        <activity
            android:name=".views.LoginOkActivity"
            android:exported="false" />
        <activity
            android:name=".views.MainActivityForm"
            android:exported="false" />
    </application>

</manifest>